//* COLORS *//
$btn-background-selected: #343e95;
$btn-background-hover: #3c3a49;
$btn-border-hover: #3a7ca4;
$body-background: #b1b1b1;
$modal-background: #262434;
$body-text-color: #b1b1b1;
$input-background: #242234;
$description-text: #2a283d;
